body {
    width: 100%;
    overflow: hidden; /* Hide scrollbars */
    margin: unset;
}
.map {
    height: 1px;
    min-height: 100vh;
    /*min-width: 94vw;*/
    width: 100%;
    /*padding: 1px;*/
}

table {
    border: 1px solid black;
}
th, td {
    padding: 1px;
}
th {
    text-align: left;
}

/* === Custom control buttons === */
/* Home button */
.ol-control-custom {
    top: 65px;
    left: .5em;
}
.ol-touch .ol-control-custom {
    top: 80px;
}
/* Marker button */
.ol-control-marker {
    top: 95px;
    left: .5em;
}
.ol-touch .ol-control-marker {
    top: 118px;
}

/* Track info table */
.ol-control-table {
    width: auto;
    height: auto;
    left: unset;
    bottom: 22px;
    right: 4px;
    top: unset;
    background-color: rgba(167, 255, 217, 0.8);
    display: block;
}
.ol-control-table:hover {
    background-color: rgba(167, 255, 217, 0.8);
}
.ol-touch .ol-control-table {
    bottom: 180px;
}
/* Refresh panel */
.ol-control-refresh {
    width: auto;
    height: auto;
    right: unset;
    bottom: unset;
    left: 40px;
    top: 8px;
    background-color: rgba(167, 255, 217, 0.8);
    /*display: block;*/
}
.ol-control-refresh:hover {
    background-color: rgba(167, 255, 217, 0.8);
}
/* Height map */
.ol-control-heightmap {
    width: auto;
    height: 130px;
    min-width: 128px;
    right: 350px;
    bottom: 8px;
    left: 160px;
    top: unset;
    background-color: rgba(204, 181, 55, 0.8);
    display: block;
}
.ol-control-heightmap:hover {
    background-color: rgba(204, 181, 55, 0.8);
}
.ol-touch .ol-control-heightmap {
    display: none;
}

/* === Cursor popup === */
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    /*padding-left: 15px;*/
    /*padding-bottom: 15px;*/
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 200px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

/* HDOP value stylization */
.hdop-excellent {
    color: green;
}
.hdop-average {
    color: rgb(180,162,33);
}
.hdop-poor {
    color: red;
}
/* Timestamp stylization */
.timestamp-server {
    color: red;
}