body {
    width: 100%;
    /*height: 100%;*/
    overflow: hidden; /* Hide scrollbars */
    margin: unset;
}
.map {
    height: 1px;
    min-height: 100vh;
    /*min-width: 94vw;*/
    width: 100%;
    /*padding: 5px;*/
}

table {
    border: 1px solid black;
}
th, td {
    padding: 1px;
}
th {
    text-align: left;
}
#height_map {
    width: 100%;
    height: 100%;
}

/* === Custom control buttons === */
/* Home button */
.ol-control-custom {
    top: 65px;
    left: .5em;
}
.ol-touch .ol-control-custom {
    top: 80px;
}
/* Marker button */
.ol-control-marker {
    top: 95px;
    left: .5em;
}
.ol-touch .ol-control-marker {
    top: 118px;
}
/* Cursor info panel */
.ol-control-panel {
    width: 180px;
    height: auto;
    left: unset;
    top: unset;
    right: 8px;
    bottom: 24px;
    background-color: rgba(177, 119, 255, 0.8);
    display: none;
}
.ol-control-panel:hover {
    background-color: rgba(177, 119, 255, 0.8);
}
/* Track info table */
.ol-control-table {
    width: auto;
    height: auto;
    left: unset;
    bottom: unset;
    right: 40px;
    top: 8px;
    background-color: rgba(167, 255, 217, 0.8);
    display: block;
}
.ol-control-table:hover {
    background-color: rgba(167, 255, 217, 0.8);
}
/* Refresh panel */
.ol-control-refresh {
    width: auto;
    height: auto;
    right: unset;
    bottom: unset;
    left: 40px;
    top: 8px;
    background-color: rgba(167, 255, 217, 0.8);
    /*display: block;*/
}
.ol-control-refresh:hover {
    background-color: rgba(167, 255, 217, 0.8);
}
/* Height map */
.ol-control-heightmap {
    width: 50%;
    height: 100px;
    right: unset;
    bottom: unset;
    left: 120px;
    top: 8px;
    background-color: rgba(245, 255, 173, 0.8);
    display: block;
}
.ol-control-heightmap:hover {
    background-color: rgba(245, 255, 173, 0.8);
}


/* === 2 column layout === */
.column {
    float: left;
    width: 33.3%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* === Cursor popup === */
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    /*padding-left: 15px;*/
    /*padding-bottom: 15px;*/
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 180px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}